<div id="reason" style="background-color: rgb(173, 169, 197); font-family:'Buenos Aires';">
    <div class="container">
        <h1 style="text-align: center; padding: 30px;">Reasons to Take an IELTS Realty Mock Test</h1>
        <div class="point-container">
             <div class="point">
                <div class="row justify-content-center my-5 text-center">
                    <div class="col-12 col-lg-3 mb-2 position-relative circle-container mb-3">
                        <div class="circle">
                            <p>
                                <span style="font-size: x-large; color: aliceblue; display: block; text-align: center;">
                                    Exposure to the actual test format:
                                </span> 
                                <br>You will get a feel for the timing, types of questions, and level of difficulty of the real IELTS test.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-2 position-relative circle-container mb-3">
                        <div class="circle">
                            <p>
                                <span style="font-size: x-large; color: aliceblue; display: block; text-align: center;">
                                    Identify your strengths and weaknesses:
                                </span> 
                                <br>This will help you focus your study time on the areas where you need the most improvement.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-2 position-relative circle-container mb-3">
                        <div class="circle">
                            <p>
                                <span style="font-size: x-large; color: aliceblue; display: block; text-align: center;">
                                    Develop test-taking strategies:
                                </span> 
                                <br>You can learn how to manage your time effectively and answer different types of questions efficiently.
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3 mb-2 position-relative circle-container mb-3">
                        <div class="circle">
                            <p>
                                <span style="font-size: x-large; color: aliceblue; display: block; text-align: center;">
                                    Boost your confidence:
                                </span> 
                                <br>Feeling comfortable with the test format can help you reduce anxiety and perform better on the real test.
                            </p>
                        </div>
                    </div>
                </div>
                
            </div> 

        </div>
    </div>
</div>




