<div class="row">
    <div class="logo col-md-6">
      <div class="profile-bg">
        <img src="../../assets/Bluesky-Immigration-Logo.svg" alt="">
      </div>
    </div>
    <div class="countdown col-md-6">
      <div class="name">
        <div class="event-title">Event Starts In</div>
        <div style="font-size: large; text-align: center;">Days : Hours : Minutes : Seconds</div>
        <div style="font-size: xxx-large; text-align: center;">{{ days }} : {{ hours }} : {{ minutes }} : {{ seconds }}</div>
      </div>
    </div>
</div>
